/* Base */
html {
  font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
  background: #0074b0;
}
body { margin: 0; font-size: 1em; line-height: 1.4; font-family: sans-serif; color: #fff; }

::-moz-selection { background: #bddaf6; color: #fff; text-shadow: none; }
::selection { background: #bddaf6; color: #fff; text-shadow: none; }

/* Links */
a, a:visited { color: #5bc7ff; }
a:hover { color: #5bc7ff; text-decoration: none; }
a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

/* Typography */
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }


/* Media Queries for Responsive Design - 'mobile first' */
@media only screen and (min-width: 320px) {

  html {
    width: 320px;
    margin: 0 auto;
    text-align: center;
  }
  
  /* Header */
  header {
    position: relative;
    margin: 30px 5% 10px;
    padding: 10px 15px;
  }
  
  h1, h2 {
    margin: 0 0 20px;
    color: #f0fffa;
    font-size: 2.5em;
    line-height: .8;
    letter-spacing: -.05em;
    text-shadow: 0 1px 0 #6a95bf,
                 0 2px 0 #8eaece,
                 0 3px 0 #8eaece,
                 0 4px 0 #8eaece;
  }
  h1 span { font-size: .7em; }
  
  header p {
    margin: 5px 0 20px;
    text-shadow: 0 1px 0 rgba(0,0,0,.7);
  }
  
  h2 {
    font-size: 1.5em;
    text-shadow: 0 1px 0 #6a95bf,
                 0 2px 0 #8eaece,
                 0 3px 0 #8eaece;
  }
  
  /* Main */
  section {
    margin: 3px 0;
  }
  section a {
    position: relative;
    display: block;
    margin: 0 5%;
  }
  
  section .button:before {
    content: '\0020';
    position: absolute; top: 8px; left: 8px;
    width: 16px; height: 16px;
    background: url(../img/loader.gif);
    background-size: 16px 16px;
  }
  
  section .yep:before {
    content: '\2B06'; background: none;
    color: #6cc421;
  }
  
  section .nope:before {
    content: '\2B07'; background: none;
    color: #c00;
  }

  
  /* Buttons by Nicolas Gallagher - http://github.com/necolas/css3-github-buttons */
  .button { 
    padding: 7px 15px;
    border: 1px solid #d4d4d4;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    line-height: 1;
    color: #333;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
    background-image: -webkit-linear-gradient(top, #f4f4f4, #ececec);
    background-image:    -moz-linear-gradient(top, #f4f4f4, #ececec);
    background-image:     -ms-linear-gradient(top, #f4f4f4, #ececec);
    background-image:      -o-linear-gradient(top, #f4f4f4, #ececec);
    background-image:         linear-gradient(top, #f4f4f4, #ececec);
    border-radius: .2em;
  }
  .button:visited {
    color: #333;
  }
  
  .button:hover,
  .button:focus,
  .button:active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#599bdc), to(#3072b3));
    background-image: -webkit-linear-gradient(top, #599bdc, #3072b3);
    background-image:    -moz-linear-gradient(top, #599bdc, #3072b3);
    background-image:     -ms-linear-gradient(top, #599bdc, #3072b3);
    background-image:      -o-linear-gradient(top, #599bdc, #3072b3);
    background-image:         linear-gradient(top, #599bdc, #3072b3);
  }
  
  .button:active {
    border-color: #2a65a0;
    border-bottom-color: #3884cf;
    color: #fff;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3072b3), to(#599bdc));
    background-image: -webkit-linear-gradient(top, #3072b3, #599bdc);
    background-image:    -moz-linear-gradient(top, #3072b3, #599bdc);
    background-image:     -ms-linear-gradient(top, #3072b3, #599bdc);
    background-image:      -o-linear-gradient(top, #3072b3, #599bdc);
    background-image:         linear-gradient(top, #3072b3, #599bdc);}
  
  .button::-moz-focus-inner { padding: 0; border: 0; }
  
  section a:first-child {
    border-radius: .2em .2em 0 0;
  }
  section a + .button {
    margin-top: -1px;
    border-radius: 0 0 .2em .2em;
  }
  
  /* Footer */
  footer {
    position: absolute; left: 0; right: 0;
    padding: 10px;
    font-size: .8em;
    color: #9fdeff;
    margin-top: 50px;
  }
  footer p {
    width: 300px;
    margin: 0 auto 10px;
  }
  
  .social { margin-top: 30px; }
  
  
  #message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.4);
    border-bottom: 1px solid rgba(0,0,0,.3);
    box-shadow: 0 0 5px rgba(0,0,0,.7);
    padding: 0 10px;
  }


}


/* iPhone HiRes aso */
@media only screen and (min-width: 480px) {
  html { width: 480px; }

  header {
  -webkit-transition: all .3s ease-out;
     -moz-transition: all .3s ease-out;
      -ms-transition: all .3s ease-out;
       -o-transition: all .3s ease-out;
          transition: all .3s ease-out;
  }

}

/* iPad */
@media only screen and (min-width: 768px) {
  html {
    width: 700px;
  }
  
  h1 {
    font-size: 2.7em; margin: .5em 0;
  }
  
  section:before, section:after { display: table; content: ''; }
  section:after { clear: both; }

  section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
  }
  section a {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    margin: 0;
  }
  section a:first-child {
    border-radius: .2em 0 0 .2em;
  }
  section a + .button {
    margin: 0 0 0 -1px;
    border-radius: 0 .2em .2em 0 ;
  }
}



@media only screen and (min-width: 1024px) {
  html {
    width: 1000px;
  }
  
  #libs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
  }
  
  section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    margin-right: 10px;
  }

  section .button:before {
    top: 30%;
    left: 50%;
    width: 32px; height: 32px;
    margin: -16px 0 0 -16px;
    background-size: 32px 32px;
    font-size: 2.2em;
  }

  section .button {
    padding-top: 70px;
  }
  
  footer p {
    width: 980px;
  }
  


}
